@import "./Mixins/Mixins";

* {
  padding: 0;
  margin: 0;
  font-family: Raleway;
}

.title {
  margin-top: 3px;
  margin-left: 15px;
  color: white;
  font-weight: 400;
  font-size: 40px;
}
.span-title {
  color: #f99f38;
  font-weight: 700;
}
.span-title:hover {
  color: #ed8309;
  transition: 0.2s ease-in;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 10px 25px rgb(56, 56, 56);
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
  font-size: 1.5em;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  font-weight: bold;
}
.span-text {
  color: #0660c7;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-add {
  @include input-add-style;
}
.homepage-container {
  height: 100vh;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.sign-out-container {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 10px;
}
.sign-in-button {
  @include button-style;
  background: #0660c7;
}
.sign-out-button {
  @include sign-out-button;
}
.sign-out-button:hover {
  background: #ed8309;
}
.user-email {
  font-weight: 700;
  color: white;
  margin-right: 10px;
  padding-top: 6px;
}
.add-button {
  @include button-style-add;
  background: #f99f38;
}
.add-button:hover {
  background: #ed8309;
}
button:hover {
  background: #3876d9;
}

.delete-button {
  @include button-style-delete;
  background: #F99F38;
}

.delete-button:hover {
  background: #ed8309;
}

.delete-text-span {
  transform: rotate(45deg);
}
.big-task-input-container {
  display: flex;
  justify-content: center;
}

.task-input-container:not(:empty) {
  @include basic-box-structure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 36.2%;
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 500;
}

.task-input-container:empty {
  display: none;
}

.tasks-input {
  @include tasks-input-style;
}

label {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px 0;
  user-select: none;
  &::before {
    position: absolute;
    content: attr(data-content);
    color: $lightgray;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: #f99f38;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}

input[type="checkbox"] {
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: $black;
  border: 1px solid #f99f38;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 0px;
    left: 6px;
    width: 6px;
    height: 12px;
    border-style: solid;
    border-color: $white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: $white;
    border-color: #f99f38;
    background: #f99f38;
    &::before {
      opacity: 1;
    }
    ~ label::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.checkbox-with-text {
  display: flex
}
